.igtr_Control
{
	border-color:Transparent;
}


.igtr_Island
{
}


.igtr_Node
{
}


.igtr_Parent
{
}


.igtr_Leaf
{
}


.igtr_Edit
{
}


.igtr_Root
{
	font-weight:bold;
}


.igtr_Hover
{
	
}


.igtr_Selected
{
	font-weight:bold;
}


.igtr_Disabled
{
	color:#D2D2D2;
}


