<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>模板文件001</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>
<table width="556" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1" rowspan="2" background="surveystyle/0-42/pixi_grey.gif"><img src="surveystyle/0-42/pixi_grey.gif" width="1" height="1"></td>
    <td width="2" rowspan="2"><img src="surveystyle/0-42/spacer.gif" width="1" height="1"></td>
    <td width="550" height="101"><table width="550" height="101" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td background="surveystyle/0-42/01.gif" style="font-size:36px;font-weight:bold;line-height:80px;padding-left:30px">问卷调查</td>
        </tr>
      </table></td>
    <td width="2" rowspan="2"><img src="surveystyle/0-42/spacer.gif" width="1" height="1"><img src="surveystyle/0-42/spacer.gif" width="2" height="1"></td>
    <td width="1" rowspan="2" background="surveystyle/0-42/pixi_grey.gif"><img src="surveystyle/0-42/pixi_grey.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td height="600" rowspan="2" valign="top">
这里是表单代码</td>
  </tr>
  <tr>
    <td background="surveystyle/0-42/pixi_grey.gif"></td>
    <td></td>
    <td></td>
    <td background="surveystyle/0-42/pixi_grey.gif"></td>
  </tr>
</table>
</body>
</html>