<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">


</head>
<body> 
<table border=0 align="center" cellpadding=0 cellspacing=0> 
<tr valign="top"> 
<td rowspan=4 background="surveystyle/0-42/leftbg4.gif"> <img src="surveystyle/0-42/leftbg4.gif" width=11 height=5 alt=""></td> 
<td rowspan=4 background="surveystyle/0-42/leftinnerblue.gif"> <img src="surveystyle/0-42/leftinnerblue.gif" width=22 height=2 alt=""></td> 
<td valign="top"><img src="surveystyle/0-42/04.gif" width="587" height="10"></td>
<td rowspan=4 background="surveystyle/0-42/rightinnerblue.gif"> <img src="surveystyle/0-42/rightinnerblue.gif" width=19 height=1 alt=""></td> 
<td rowspan=4 background="surveystyle/0-42/rightbg4.gif"> <img src="surveystyle/0-42/rightbg4.gif" width=11 height=5 alt=""></td> 
</tr> 
<tr> 
    <td height="600" valign="top" background="" style="padding:25,20,15,22;">这里是表单代码</td> 
</tr>
<tr>
    <td valign="top" background="" class="style1" style="padding:0,15,10,22;"></td>
</tr> 
<tr> 
<td height="27" bgcolor="#00659c"> <img src="surveystyle/0-42/basebg.gif" width=546 height=27 alt=""></td> 
</tr> 
</table> 
</body>
</html>
</body>
</html>
