<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

</head>
<body>
<table border=0 align="center" cellpadding=0 cellspacing=0>
  <tr>
    <td width="4" background="surveystyle/0-42/pixi_red.gif"> </td>
    <td width="4"><table border=0 align="center" cellpadding=0 cellspacing=0 bgcolor="#a81616">
<tr>
        <td style="height:20px "></td>
</tr>
      <tr>
          <td> <img src="surveystyle/0-42/topcurve.gif" width=582 height=35 alt=""></td>
      </tr>
        <tr bgcolor="#ffffff"> 
<td style="height:400px; vertical-align:top;padding:10px">这里是表单代码</td>
        </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td style=" height:10px"></td>
        </tr>
    </table></td>
    <td width="4" background="surveystyle/0-42/pixi_red.gif"> </td>
  </tr>
</table>
</body>
</html>