
<!doctype html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
<!--
body {margin:0px;}
-->
</style>

</head>

<body>

<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="144" colspan="3" background="surveystyle/0-42/017_1.gif"></td>
  </tr>
  <tr>
    <td width="16" background="surveystyle/0-42/017_BG.gif"></td>
    <td width="742" height="300" valign="top">这里是表单代码</td>
    <td width="16" background="surveystyle/0-42/017_BG.gif"></td>
  </tr>
  <tr "background="surveystyle/0-42/017_BG.gif"">
    <td colspan="3"  background="surveystyle/0-42/017_BG.gif"></td>
  </tr>
</table>
</body>
</html>
