
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>

<body>

  <style type="text/css">
<!--
body {
	margin:0px;
	background-image:url(surveystyle/0-42/031202.png);
	background-repeat:repeat;
	
	
}

.main {
	height:500px;
	background-image:url(surveystyle/0-42/031202.png);
	background-repeat:repeat;
	
	
}
-->
</style>
<table width="900" border="0" align="center" cellpadding="10" cellspacing="1" bgcolor="#999999">
  <tr>
    <td valign="top" bgcolor="#FFFFFF"  class="main"><div style="margin:20px">这里是表单代码</div></td>
  </tr>
</table>

</body>
</html>
