<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>055</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
}
</style>
<div style="background:url(surveystyle/055/0.jpg) no-repeat; width:1005px; height:250px; margin-left:auto; margin-right:auto"></div>
<div style="background:#FFF; width:1005px;margin-left:auto; margin-right:auto;">
<div style="height:1px; width:100%"></div>
<div style="margin:10px">这里是表单代码
</div>
</div>
<div style="background:url(surveystyle/055/1.jpg) no-repeat; width:1005px; height:151px; margin-left:auto; margin-right:auto;color:#FFF; font-weight:bold;margin-left:auto; margin-right:auto; text-align:center; line-height:151px;">12355.com</div>

    

</body>
</html>
