<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>056</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
background:url(surveystyle/056/0.jpg);
}
</style>
<div style="background:url(surveystyle/056/1.jpg) 0px -50px no-repeat; width:832px; height:176px; margin-left:auto; margin-right:auto"></div>
<div style="width:832px; height:2px; margin-left:auto; margin-right:auto;"></div>
<div style="background:#FFF; width:832px;margin-left:auto; margin-right:auto;">
	<div style="height:1px; width:100%"></div>
	<div style="margin:10px">这里是表单代码</div>
    <div style="height:1px; width:100%"></div>
</div>
<div style="background:url(surveystyle/056/2.jpg) no-repeat; width:832px; height:103px;margin-right:auto;color:#FFF; font-weight:bold;margin-left:auto; margin-right:auto; text-align:center;"></div>
<div style=" margin-left:auto; margin-right:auto;color:#FFF; font-weight:bold;margin-left:auto; margin-right:auto; text-align:center;">12355.com</div>
</body>
</html>
