<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>057</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
background:url(1.gif);
}
</style>

<div style="width:900px; margin-left:auto; margin-right:auto; margin-top:10px">
    <div style="background:url(surveystyle/059/0.gif) no-repeat; height:164px; width:900px; margin-left:auto; margin-right:auto"></div>
    <div style=" background:#FFF; border:1px solid #6C0">
    	<div style="height:1px; width:100%"></div>
		<div style="margin:20px">这里是表单代码</div>
    </div>
    
    <div style=" margin-left:auto; margin-right:auto;color:#000; font-weight:bold;  text-align:center;">12355.com</div>
</div>    

</body>
</html>
