<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>060</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
}
</style>

<div style="width:1004px; margin-left:auto; margin-right:auto ">
    <div style="background:url(surveystyle/060/0.jpg) no-repeat; height:212px; width:1004px; margin-left:auto; margin-right:auto"></div>
    <div style=" background:#FFF; width:980;">
    	<div style="height:1px; width:100%"></div>
		<div style="margin:20px">这里是表单代码</div>
    </div>
    
    <div style=" margin-left:auto; margin-right:auto;color: #128FF5; font-weight:bold;  text-align:center;">12355.com</div>
</div>    

</body>
</html>
