<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>060</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
background:url(surveystyle/064/1.gif);
}
</style>

<div style="background:url(surveystyle/064/0.png) 0 -36px no-repeat;">
	<div style="height:1px; width:100%"></div>
    <div style="width:768px;background:#FFF; border:#300 5px solid; margin-top:20px; margin-left:auto; margin-right:auto; padding:5px">这里是表单代码</div>
</div>    
<div style=" margin-left:auto; margin-right:auto;color: #FFF; text-align:center; font-size:12px">12355.COM</div>
</body>
</html>
