<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>068</title>
</head>

<body>
<style type="text/css">
body{
margin:0px;
background:#8F1115;
}
</style>
<div style="height:200px; background:url(surveystyle/068/0.png) no-repeat; width:964px; margin-left:auto; margin-right:auto"></div>
<div style="  width:100%; margin-right:auto; margin-left:auto;">
	<div style="height:1px; width:100%"></div>
    <div style="width:936px;background:#FFF; border:#EEE 1px solid; margin-top:20px; margin-left:auto; margin-right:auto; padding:5px">这里是表单代码</div>
    <div style=" margin-left:auto; margin-right:auto;color: #FFF; text-align:center; font-size:12px; padding:10px">12355.COM</div>

</div>    
</body>
</html>
