<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

</head>

<body>
<style type="text/css">
<!--
body{
margin:0px;
font-size:12px;
}
-->
</style>

<div id="report" style="width:650px; border:#333333 medium double; margin:10px; padding:5px;margin-left:auto;margin-right:auto;">
<div id="overview">
<span id="report_surveyname" style="text-align:center; margin:10px; font-size:14px; font-weight:bold">问卷名</span><br />

<span id="report_memo">说明</span>
<span id="report_date">日期</span>
<span id="report_author">作者</span>
<span id="report_answeramount">答卷数</span>
<span id="report_taskamount">任务数</span>
<span id="report_lastupdate">最后更新</span>
</div>
<div id="analysis" style="">分析</div>
</div>
</body>
</html>
