<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

</head>

<body>
<style type="text/css">
<!--
body{
margin:0px;
font-size:12px;
}
-->
</style>
<div style="background-color:#FFCC00; height:50px; padding:20px">
<div style="font-size:24px; font-weight:bold; font-family:'黑体'"><span id="report_surveyname">问卷名</span></div>
<span id="report_createDate">日期</span>
<span id="report_author">作者</span><br />

<span id="report_answerAmount">答卷数</span>/<span id="Report_TaskAmount">任务数</span>/<span id="report_lastupdate">最后更新</span>
</div>
<div id="analysisbox" style="width:; border:#CCCCCC 0px solid;  padding:20px;margin-left:auto;margin-right:auto;">

<div id="analysis" style=" height:500px">这里是统计分析</div>
</div>

<div style="height:50px; padding:10px; text-align:center; background-color:#EEEEEE; margin-top:10px; border-top:#999999 2px solid">Powered by  12355.com</div>

</body>
</html>
