.button46{ background:url(../Images/button46.gif) repeat-x; cursor:hand; height:22px; width:46px; padding: 2px 0px 0px 0px; border:none}
.button48{ background:url(../Images/button48.gif) repeat-x; cursor:hand; height:22px; width:48px; padding: 2px 0px 0px 0px; border:none}
.button60{ background:url(../Images/button60.gif) repeat-x; cursor:hand; height:22px; width:60px; padding: 2px 0px 0px 0px; border:none}
.button70{ border-style: none;
    border-color: inherit;
    border-width: medium;
    background: url('../Images/button70.gif') repeat-x;
    cursor:hand;  height:22px;   width:70px;     padding: 2px 0px 0px 0px; }
.button76{ background:url(../Images/button76.gif) repeat-x; cursor:hand; height:22px; width:76px; padding: 2px 0px 0px 0px; border:none}
.button88{ background:url(../Images/button88.gif) repeat-x; cursor:hand; height:22px; width:88px; padding: 2px 0px 0px 0px; border:none}


.bottonLogin{ background:url(../Images/bottonLogin.jpg) repeat-x; cursor:hand; height:24px; width:57px; padding: 2px 0px 0px 0px; border:none}

