*{margin:0; padding:0}
body{ font-size:13px; font-family:@ו; font-variant:inherit; font-weight:200; color:#000000}

.tableTitle {margin-top:20px;}
.tableTitle td { font-size:25px; font-family:@ו; font-variant:inherit; font-weight:bolder; color:#000000; text-align:center;} 

.table {border-collapse:collapse;table-layout:fixed; margin-top:10px;}
.table tr {text-align:center} 
.table td {height:40px;}
.table input {width:95%; padding-left:3px; border:0px; text-align:left; }
.table label {width:80%; }
.table textarea {border:0px; width:98%; text-align:left; overflow:hidden; }

.tableZDHD {border-collapse:collapse;table-layout:fixed; }
.tableZDHD tr {text-align:center} 
.tableZDHD td {height:30px;}
.tableZDHD input {padding-left:3px; border:0px; text-align:left; }
.tableZDHD textarea {border:0px; width:98%; text-align:left; overflow:hidden; }