<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ControlEncodingContexts>
    <!--<ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlAnchor" PropertyName="HRef" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlHead" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlImage" PropertyName="Src" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlInputImage" PropertyName="Src" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlInputRadioButton" PropertyName="Value" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlTitle" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.BaseDataList" PropertyName="Caption" EncodingContext="HtmlAttribute" />-->
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="CancelDestinationPageUrl" EncodingContext="Url" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="ChangePasswordFailureText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="ChangePasswordTitleText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="ConfirmNewPasswordLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="ContinueDestinationPageUrl" EncodingContext="Url" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="CreateUserText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="EditProfileText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="HelpPageText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="InstructionText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="NewPasswordLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="PasswordHintText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="PasswordLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="PasswordRecoveryText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="SuccessPageUrl" EncodingContext="Url" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="SuccessText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="SuccessTitleText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ChangePassword" PropertyName="UserNameLabelText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.CheckBox" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.CreateUserWizard" PropertyName="HeaderText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.CustomValidator" PropertyName="Text" EncodingContext="Html" />
    <!--
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataControlFieldHeaderCell" PropertyName="Text" EncodingContext="Html" />
  
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataList" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DetailsView" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DetailsView" PropertyName="EmptyDataText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DetailsView" PropertyName="FooterText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DetailsView" PropertyName="HeaderText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.FormView" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.FormView" PropertyName="EmptyDataText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.FormView" PropertyName="FooterText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.FormView" PropertyName="HeaderText" EncodingContext="Html" />
   
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Label" PropertyName="Text" EncodingContext="Html" />
    
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Literal" PropertyName="Text" EncodingContext="Html" />  
   
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataControlFieldCell" PropertyName="Text" EncodingContext="Html" />-->
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataGrid" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.GridView" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.GridView" PropertyName="EmptyDataText" EncodingContext="Html" />

    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.LinkButton" PropertyName="Text" EncodingContext="Html" />
   <!-- <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ListBox" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.ListControl" PropertyName="Text" EncodingContext="Html" />-->
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.HyperLink" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Panel" PropertyName="GroupingText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RadioButton" PropertyName="Text" EncodingContext="Html" />
    <!--<ControlEncodingContext FullClassName="System.Web.UI.WebControls.RadioButtonList" PropertyName="Text" EncodingContext="Html" />-->
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RangeValidator" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RegularExpressionValidator" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RequiredFieldValidator" PropertyName="Text" EncodingContext="Html" />
    <!--<ControlEncodingContext FullClassName="System.Web.UI.WebControls.Table" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.TableCell" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.TableHeaderCell" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlTableCell" PropertyName="InnerHtml" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlTableRow" PropertyName="InnerHtml" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlTextArea" PropertyName="InnerHtml" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlAnchor" PropertyName="InnerHtml" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlButton" PropertyName="InnerHtml" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlGenericControl" PropertyName="InnerHtml" EncodingContext="SafeHtml" />-->
  </ControlEncodingContexts>
  <DoubleEncodingFilter Enabled="true" />
  <EncodeDerivedControls Enabled="true" />
  <MarkAntiXssOutput Enabled="false" Color="Yellow"/>
</Configuration>